<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- If not logged in, show sign up button-->
    <% if (!user) { %>
    <form action="/signUp" method="get">
      <button type="submit">Sign Up</button>
    </form>
    <!-- If not logged in, show login button-->
    <% } %> <% if (!user) { %>
    <button id="loginButton">Log In</button>
    <div id="loginPopup">
      <form action="/logIn" method="post" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log In</button>
        <!-- Cancel Button-->
        <button type="button" id="closeButton">Cancel</button>
      </form>
    </div>
    <% } %>

    <!-- Log In Attempt Messages -->
    <% if (messages && messages.length > 0) { %>
    <div class="error"><%= messages[messages.length - 1] %></div>
    <% } %>

    <!-- If logged in, show log out button-->
    <% if (user) { %>
    <form action="/logOut" method="get">
      <button type="submit">Log Out</button>
    </form>
    <% } %>

    <!-- Add a way to see member messages if member -->

    <!-- script -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
