<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Secret Code</title>
  </head>
  <body>
    <!-- Only Logged In Members Should See this Form-->
    <h1>Enter The Secret Code to Become a Member!</h1>
    <form action="/secret" method="POST">
      <label for="secret">Pass Code:</label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
