<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Secret Code</title>
  </head>
  <body>
    <!-- Only Logged In Members Should See this Form-->
    <h1>Enter The Secret Code to Become a Member!</h1>
    <form action="/" method="get">
      <button type="submit">Back to Home</button>
    </form>

    <% if (errors && errors.length > 0) { %>
    <ul class="error">
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %> <% if (user) { %>
    <form action="/secret" method="POST">
      <label for="secretCode">Pass Code:</label>
      <input id="secretCode" name="secretCode" type="text" />
      <button type="submit">Submit</button>
    </form>
    <% } %>
  </body>
</html>
